.weather-card h1 {
    font-family: cursive;
    font-style: oblique;
    color:beige;
    font-size: 49px;
}  

.weather-card p {
    font-size: 1em;
}

.sun {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -40px;
}

